body{
    font-family: system-ui;
}
.image,.image1{
    height: 50px;
    margin: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.firstplayer,.secondplayer{
    width: 370px;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}
.game{
    position: absolute;
    top: 100px;
    width: 100%;
}

#player1,#player2{
    height: 30px;
    font-weight: 900;
    transition: 1s;
}

#score{
    transition: 1s;
    left: 0;
    position: relative;
    height: 30px;
    width: 130px;
    text-align: center;
    padding: 20px;
    color: white;
    font-weight: 900;
    right: 0;
    margin: auto;
    margin-top: 60px;
}

.cover{
    position: absolute;
    height: 75px;
    width: 370px;
    display: none;
    z-index: 1;
}